<launch>
    <arg name="Color_Image_Topic" default="image_color"/>
    <arg name="PointCloud2_Topic" default="points"/>

    <include file="$(find etri_perceptions)/launch/bringup_pipeline.launch">
        <arg name="Color_Image_Topic" value="$(arg Color_Image_Topic)" />
        <arg name="PointCloud2_Topic" value="$(arg PointCloud2_Topic)" />
    </include>


    <include file="$(find static_object_info_publisher)/launch/bringup_publisher.launch">
        <arg name="object_list" default="$(find skincare_scenario)/config/object_list.yaml"/>
    </include>
</launch>
