<launch>
    <arg name="nao_ip"   value="192.168.5.4"/>
    <arg name="nao_port" value="9559"/>

    <arg name="world_to_robot_x" value="0.30" />
    <arg name="world_to_robot_y" value="0.0" />
    <arg name="world_to_robot_z" value="0.72" />

    <arg name="world_to_kinect2_x"     value="0.0" />
    <arg name="world_to_kinect2_y"     value="-0.15" />
    <arg name="world_to_kinect2_z"     value="1.7" />
    <arg name="world_to_kinect2_roll"  value="-1.570796" />
    <arg name="world_to_kinect2_pitch" value="0.0" />
    <arg name="world_to_kinect2_yaw"   value="-1.93" />

    <arg name="project_path" value="$(find skincare_scenario)" />
    <arg name="script_path"  value="/home/byeongkyu/catkin_ws/src/mhri_workspace/domain_scripts/skincare_scenario" />

    <include file="$(find skincare_scenario)/launch/bringup_robot.launch">
        <arg name="nao_ip" value="$(arg nao_ip)" />
        <arg name="world_to_robot_x" value="$(arg world_to_robot_x)" />
        <arg name="world_to_robot_y" value="$(arg world_to_robot_y)" />
        <arg name="world_to_robot_z" value="$(arg world_to_robot_z)" />
    </include>

    <include file="$(find skincare_scenario)/launch/bringup_openptrack.launch">
        <arg name="world_to_kinect2_x"     value="$(arg world_to_kinect2_x)" />
        <arg name="world_to_kinect2_y"     value="$(arg world_to_kinect2_y)" />
        <arg name="world_to_kinect2_z"     value="$(arg world_to_kinect2_z)" />
        <arg name="world_to_kinect2_roll"  value="$(arg world_to_kinect2_roll)" />
        <arg name="world_to_kinect2_pitch" value="$(arg world_to_kinect2_pitch)" />
        <arg name="world_to_kinect2_yaw"   value="$(arg world_to_kinect2_yaw)" />
    </include>

    <include file="$(find skincare_scenario)/launch/bringup_mhri.launch">
        <arg name="project_path" value="$(arg project_path)"/>
        <arg name="script_path"  value="$(arg script_path)"/>
        <arg name="overwrite" value="true" />
        <arg name="fake_render_speech" value="false"/>
        <arg name="fake_render_gesture" value="false"/>
        <arg name="fake_render_facial_expression" value="false"/>
    </include>

    <include file="$(find skincare_scenario)/launch/bringup_perception.launch">
        <arg name="Color_Image_Topic" value="/kinect2_head/sd/image_color_rect"/>
        <arg name="PointCloud2_Topic" value="/kinect2_head/sd/points"/>
    </include>

    <node name="nao_bypass" type="sensory_percep_bypass_for_hri.py" pkg="nao_v5" output="screen" required="true"
        args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" />

    <include file="$(find skincare_scenario)/launch/bringup_speech.launch"/>

    <node name="naver_tts" type="speech_node.py" pkg="render_speech_naver_voice_tts" output="screen">
        <param name="config_file" value="$(find render_speech_naver_voice_tts)/config/speech_conf.json" />
    </node>
</launch>
