<launch>
    <arg name="project_path" default="$(find survey_sm_expressions)" />
    <arg name="script_path" default="$(find survey_sm_expressions)/scripts" />

    <!-- Core Functionality -->
    <include file="$(find mhri)/launch/bringup_core.launch">
        <arg name="project_path" value="$(arg project_path)" />
    </include>

    <!-- Renderer Functionality-->
    <include file="$(find motion_renderer)/launch/bringup_renderer.launch">
        <arg name="fake_render_speech" default="false" />
        <arg name="fake_render_gesture" default="false" />
        <arg name="fake_render_facial_expression" default="false" />
        <arg name="fake_render_sound" default="true" />
    </include>

    <!-- Dialog Functionality -->
    <include file="$(find mhri_dialog)/launch/bringup.launch">
        <arg name="script_path" value="$(arg script_path)" />
    </include>

    <include file="$(find speech_recognizer_py)/launch/bringup_perception.launch" />
    <include file="$(find static_object_info_publisher)/launch/bringup_publisher.launch">
        <arg name="object_list" value="$(find survey_sm_expressions)/config/object_list.yaml"/>
    </include>
</launch>
